* {
    margin: 0;
    padding: 0;
}

.backdrop {
    background-color: #1e282e;
    height: 550px;
    width: 400px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.calculator {
    background-color: #142F44;
    padding: 20px;
    border-radius: 13px;
}

.calculator form input {
    border: 0;
    outline: 0; 
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form input.equal {
    width: 145px;
}

form .display {
    display: flex; 
    justify-content: flex-end;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
